@keyframes fade {
    0% { background-color: rgba(0, 0, 0, 0); }
    40% { background-color: rgba(0, 0, 0, 0); }
    45% { background-color: rgba(0, 0, 0, 0.7); }
    50% { background-color: rgb(0, 0, 0, 1); }
    55% { background-color: rgba(0, 0, 0, 0.7); }
    60% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: rgba(0, 0, 0, 0); }
}
@keyframes zmianaTla {
    0% { background-image: url("/Obrazy/Tlo/Tlo1.jpg"); }
    12.5% { background-image: url("/Obrazy/Tlo/Tlo2.jpg"); }
    25% { background-image: url("/Obrazy/Tlo/Tlo3.jpg"); }
    37.5% { background-image: url("/Obrazy/Tlo/Tlo4.jpg"); }
    50% { background-image: url("/Obrazy/Tlo/Tlo5.jpg"); }
    62.5% { background-image: url("/Obrazy/Tlo/Tlo6.jpg"); }
    75% { background-image: url("/Obrazy/Tlo/Tlo7.jpg"); }
    87.5% { background-image: url("/Obrazy/Tlo/Tlo8.jpg"); }
    100% { background-image: url("/Obrazy/Tlo/Tlo1.jpg"); }
}


body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: zmianaTla 120s infinite linear;
    background-image: url("/Obrazy/Tlo/Tlo1.jpg");
    z-index: -2;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: fade 15s infinite linear; /*czas tutaj musi byc czas calego cyklu obrazów przez ilośc obrazów*/
    z-index: -1;
}