/*Tutaj znajdowac sie beda (raczej) wszystkie stworzone contenery do skonczenia wersji alfa na milos allaha nie ruszac*/

.Uniwersalny {
    position: absolute; /* Pozycjonowanie absolutne w odniesieniu do rodzica (lub okna) */
    left: 50%;
    width: 80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translate(-50%);
    overflow-y: auto; /* Umożliwia przewijanie w pionie */
}