@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes rotateReverse {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Guzik-Strzalka-H50 {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url("/Obrazy/Inne/StrzalkaLewo.png");
    background-size: cover;
    background-position: center;

}
    .Guzik-Strzalka-H50.active {
        animation: rotate 0.5s forwards;
    }
    .Guzik-Strzalka-H50:not(.active) {
        animation: rotateReverse 0.5s forwards;
    }

.Przelacznik input[type="checkbox"] {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-image: url("/Obrazy/Tlo/Tlo1.jpg");
    background-size: cover;
    background-position: center;
}
.Przelacznik input[type="checkbox"]:checked {
    background-image: url("/Obrazy/Tlo/Tlo2.jpg");
}
.Przelacznik input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 5s ease;
}
.Przelacznik input[type="checkbox"]:checked::before {
    transform: translateX(25px);
}
.Przelacznik {
    border: 2px solid #00000000;
    border-radius: 50px;
    padding: 3px;
    display: inline-block;
    margin-right: 25px;
}