@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes rotateReverse {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


summary {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Summary-Strzalka {
    width: 30px; /* Dostosuj rozmiar */
    height: 30px; /* Dostosuj rozmiar */
    margin-right: 15px; /* Odstęp od tekstu */
    background-image: url("/Obrazy/Inne/StrzalkaPrawo.png"); /* Ścieżka do obrazu */
    background-size: contain; /* Ustawienie obrazu, żeby się dobrze mieścił */
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
}
    details[open] summary .Summary-Strzalka {
        transform: rotate(90deg); /* Obróć obrazek, gdy element jest otwarty */
    }

.Strzalka-Lewo-H35  {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url("/Obrazy/Inne/StrzalkaLewo.png");
    background-size: cover;
    background-position: center;
}
.Strzalka-Prawo-H35  {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url("/Obrazy/Inne/StrzalkaPrawo.png");
    background-size: cover;
    background-position: center;

}


.Guzik-Strzalka-H50 {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url("/Obrazy/Inne/StrzalkaLewo.png");
    background-size: cover;
    background-position: center;

}
    .Guzik-Strzalka-H50.active {
        animation: rotate 0.5s forwards;
    }
    .Guzik-Strzalka-H50:not(.active) {
        animation: rotateReverse 0.5s forwards;
    }


.Przelacznik input[type="checkbox"] {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-image: url("/Obrazy/Tlo/Tlo1.jpg");
    background-size: cover;
    background-position: center;
}
.Przelacznik input[type="checkbox"]:checked {
    background-image: url("/Obrazy/Tlo/Tlo2.jpg");
}
.Przelacznik input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 5s ease;
}
.Przelacznik input[type="checkbox"]:checked::before {
    transform: translateX(25px);
}
.Przelacznik {
    border: 2px solid #00000000;
    border-radius: 50px;
    padding: 3px;
    display: inline-block;
    margin-right: 25px;
}


.Guzik-H40 {
    height: 40px;
    box-sizing: border-box;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.3s linear;
}
    .Guzik-H40:hover,
    .Guzik-H40:focus {
        background-color: #ffffff;
        border-color: #444444;
        color: #000000;
    }

.Guzik-H50 {
    height: 50px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s linear;
}
    .Guzik-H50:hover,
    .Guzik-H50:focus  {
        background-color: #ffffff;
        border-color: #444444;
        color: #000000 !important;
    }
    .Guzik-H50::placeholder {
        color: #888888;
    }


.Stan-Neutralny {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
}
.Stan-Aktywny {
    background-color: #a6f8a6 !important;
    color: #008000 !important;
    border: 2px solid #ffffff !important;
}
.Stan-Zakazany {
    background-color: #f88484 !important;
    color: #ff0000 !important;
    border: 2px solid #ffffff !important;
}


.Zaokraglenie-0{
    border-radius: 0px;
}
.Zaokraglenie-L0{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.Zaokraglenie-P0{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.Zaokraglenie-10{
    border-radius: 10px;
}
.Zaokraglenie-L10{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Zaokraglenie-P10{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Szerokosc-150{
    width: 150px;
}