
.karta_63x95_naglowek {
    margin-top: 3.5%;
    width: 68%;
    height: 6.5%;
    border: 4px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}