ul { /*Wymagane by lista sie nie wyjebywala - chuj jeden wie czemu*/
    list-style-type: none;
    padding-top: 20px;
    padding: 0px;
    width: 100%;
}

/*tymczasowe ze wzgledu na stare zdjecie*/
.zakladka-icon {
    width: 80px;
    height: 80px;
    margin-right: 35px;
}



.ukrycie {
    display: none;
}
.ukrycie.open {
     display: block;
}